/* .footer {
    background: "pink";
    color: #FFF;
    padding: 80px;
    display: none;
    justify-content: space-between;
    align-items: center;
}

.footer ul li {
    display: inline-block;
    margin-right: 32px;
}

.footer ul li:last-child {
    margin-right: 100;
} */

.rodape{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 45px;
    margin-top: 120px ;
    background:var(--corprincipal) ;
    color: var(--cortitulo);
}

.rodape h3{
    font-size: 16px;
}

.icons ion-icon{
    width: 25px;
    height: 25px;
    color: var(--cortitulo);
}

.icons ion-icon:hover{
    color: var(--corsegundaria);
}